<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/assets/favicon.ico"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Bitcoin and Lightning contributor mostly spending time around LDK and Bitcoin Core"/>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css"/> {% seo "" %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/blog">Blog</a></li>
	  <li><a href="/bitcoin">₿itcoin</a></li>
	</ul>
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>© Copyright 2023, Duncan Dean</footer>
  </body>
</html>
